body {
    background-color:#12191f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    background-color:#1b2329;
    text-align: center;
}

.menu{
    list-style-type: none;
    padding: 25px;
    margin:10px;
    display: inline-flex;
}

.menu li{
    position: relative;

}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #68c2fb;
    text-decoration: none;
}

.menu li a:hover{
    background-color: purple;
}

.submenu{
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.menu li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 10px 15px;
}

.submenu li a:hover{
    background-color: purple;
}

.titulo{
    color: wheat;
    text-align: center;
}

.titulo1{
    color: wheat;
    text-align: center;
}

.text_menu{
    color: white;
}